body {
    background-color: #888;
    font-family:Arial;
    font-size: 20px;
    margin: 25px;
}

#main {
    margin: 0;
    margin-bottom:10px;
    background-color:#eee;
    border: 5px solid #333;
    padding: 25px;
    width:900px;
    height:600px;
}

#form {
    border: none;
    text-align: left;
    padding-bottom:25px;
    float:left;
    width:435px;
    height:220px;
}

#result {
    border: none;
    text-align: left;
    padding-bottom:25px;
    float:right;
    width:435px;
    height:220px;
    margin-bottom:25px;
}

#resultText {
    border:1px solid grey;
    background-color:white;
    height:183px;
    font-size:14px;
    padding: 1px;
    overflow-y:auto;
}

#log {
    font-size:12px;
    
}

#text {
    margin-top: 10px;
    margin-bottom: 10px;
}

#map {
    width: 100% ;
    height:300px;
    margin-bottom: 20px;
    clear:both;
}

#footer {
    clear:both;
    text-align:center;
    font-size:12px;
    margin-top: 25px;
}

.info {
    font-size:12px;
}

.ptop {
    margin-top:0;
}